<div class="comment">
<div class="row">
  <div class="col-xs-10">
    <p class="comment-name"> <strong> <i class="fa fa-user"></i> <%= comment.name %> </strong> </p>
    <p class="comment-time"> <i class="fa fa-clock-o"></i>  <%= time_ago_in_words(comment.created_at) %> Ago</p>
    <p class="comment-body"> <%= comment.body %> </p>
  </div>
  <div class="col-xs-2">
    <% if user_signed_in? %>
    <p>
      <%= button_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger delete-comment' %>
    </p>
    <% end %>
  </div>
</div>
</div>
