<h2>Manage Users</h2>
<hr />

<h3>Admins</h3>
<table class="table table-hover">
  <% @admins.each do |user| %>
    <tr>
      <td class="user-email"><%= user.email %> </td>
      <td>
        <%= button_to 'Delete', user_registration_path, method: :delete, data: {confirm: 'Are you Sure'}, class: 'btn btn-danger btn-disabled', disabled: true  %>
      </td>

    </tr>
  <% end %>

</table>

<h3>Editors</h3>
<table class="table table-hover">
  <% @editors.each do |user| %>
  <tr>
    <td class="user-email"><%= user.email %> </td>
    <td>
      <%= button_to 'Delete', user_registration_path, method: :delete, data: {confirm: 'Are you Sure'}, class: 'btn btn-danger btn-disabled', disabled: true  %>
    </td>

  </tr>
  <% end %>

</table>
