<h2>Manage Users</h2>
<hr />
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#admins" data-toggle="tab">Admins</a></li>
  <li><a href="#editors" data-toggle="tab">Editors</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="admins">
    <table class="table table-hover">
      <% @admins.each do |user| %>
      <tr>
        <td class="user-email"><%= link_to user.email, user_index_path(user) %> </td>
        <td>
          <%= button_to 'Delete', user_registration_path, method: :delete, data: {confirm: 'Are you Sure'}, class: 'btn btn-danger btn-disabled', disabled: true  %>
        </td>

      </tr>
      <% end %>

    </table>
  </div>
  <div class="tab-pane" id="editors">
    <table class="table table-hover">
      <% @editors.each do |user| %>
      <tr>
        <td class="user-email"><%= user.email %> </td>
        <td>
          <%= button_to 'Delete', user_registration_path, method: :delete, data: {confirm: 'Are you Sure'}, class: 'btn btn-danger btn-disabled', disabled: true  %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
