<h2>All Posts</h2>
<hr />

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="post_title"> <%= link_to post.title, post %> </h2>
    <p class="date"><i class="fa fa-clock-o"></i> <%= post.created_at.strftime("%B %d %Y") %></p>
  </div>
<% end %>
