// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-email{
  width : 800px;
}
table{
  margin-top : 15px;
}

.table > tbody > tr:first-child > td{
  border-top : 0px;
}
