// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-email{
  width : 800px;
}
.table-list{
  margin-top : 15px;
}

.table-list > tbody > tr:first-child > td{
  border-top : 0px;
}

.table-profile > tbody > tr > td:first-child{
  width: 400px;
  font-weight: bold;
}
